MoticAvaliacao/API/obj
MoticAvaliacao/API/bin
MoticAvaliacao/BLL/bin
MoticAvaliacao/BLL/obj
MoticAvaliacao/DAL/bin
MoticAvaliacao/DAL/obj
MoticAvaliacao/DAO/bin
MoticAvaliacao/DAO/obj
MoticAvaliacao/DTO/obj
MoticAvaliacao/DTO/bin